header {
  width: 100%;
  padding: 50px 0px 50px;
  background: #b7c374;
  color: hsl(0, 0%, 100%);
  text-align: center;
  justify-content: center;
  z-index: 999;
}
body {
  margin-top: 60px;
  margin-bottom: 0;
}